* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color:  rgb(248, 247, 247);
}

.container {
	 width: 90vw; 
	margin: 0 auto;
	 min-height: 100vh; 
	 justify-content: center; 
	 align-content: center; 
}

.keys {
	min-height: 100vh;
	display: flex;
	/* flex: 1; */
	flex-flow: row wrap;
	justify-content: center;
	align-content: center;
}

.key {
	color: #444;
	margin: .6rem;
	width: 7rem;
	font-size: 1.7rem;
	font-weight: 600;
	border-radius: 3%;
	text-align: center; 
	padding: .8rem 0.5rem;
	transition: all .07s ease;
	border: 1px solid #e5e5e5;
	background-color: #e8e9e9da;
	box-shadow: 0 2px 4px #b1afaf;
	font-family: Consolas, cursive, sans-serif;
}

.pressing {
	transform: scale(1.1);
	border-color: #1d476970;
	box-shadow: 0 0 1rem #0aa0bb;
}

kbd {
	display: block;
	font-size: 3rem;
}

.sound {
	font-size: 1rem;
	text-transform: uppercase;
	letter-spacing: .1rem;
	color: #096472;
}

.project-tile {
	flex: 0 17%;
	height: 150px;
	margin-bottom: 2%;
	position:relative;
    perspective:800px;
    -webkit-transform-style:preserve-3d;
       -moz-transform-style:preserve-3d;
        -ms-transform-style:preserve-3d;
         -o-transform-style:preserve-3d;
            transform-style:preserve-3d;
    transition: transform 1.8s;
}

.tile-inners, .back {
	top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
	padding: 5px;
	display: block;
	margin: 0 auto;
	position:absolute;
    transform: rotateX(0deg);
	backface-visibility: hidden;
}

.tile-inners {
	background-size: 100% 100%;
	background-repeat: no-repeat;
  	background-color: #047fa7eb; 
}

.project-tile img {
	opacity: 0.9;
	width: 100%;
    height: 100%;
}

.back {
    background-color: #31a1c5eb;
    transform: rotateY(180deg);
    justify-content: center;
    align-items: center;
    display: flex;
}

.back a {
	color: #2c2f2d;
	font-size: 19px;
	text-decoration: none;
	padding: 0 1%;
}

.project-tile:hover {
    -webkit-transform:rotateY( 180deg );
       -moz-transform:rotateY( 180deg );
        -ms-transform:rotateY( 180deg );
         -o-transform:rotateY( 180deg );
            transform:rotateY( 180deg );
}
